---
- name: Check if containerd is already installed
  stat:
    path: "{{ containerd_install_path }}/containerd"
  register: containerd_installed_stat
  become: true

- name: Check if containerd binary already downloaded locally
  stat:
    path: "{{ containerd_temp_file }}"
  register: containerd_binary_stat
  delegate_to: localhost
  run_once: true
  when: not containerd_installed_stat.stat.exists

- name: Install required dependencies (RHEL/CentOS/Rocky)
  yum:
    name:
    - wget
    - tar
    - libseccomp
    - systemd
    state: present
  become: true
  when: not containerd_binary_stat.stat.exists

- name: Create containerd temporary directory on local host
  file:
    path: "{{ containerd_temp_dir }}"
    state: directory
    mode: '0755'
  delegate_to: localhost
  run_once: true
  when: not containerd_binary_stat.stat.exists

- name: Download containerd binary locally if not already downloaded
  get_url:
    url: "{{ containerd_download_url }}"
    dest: "{{ containerd_temp_file }}"
    mode: '0644'
  when: not containerd_binary_stat.stat.exists
  delegate_to: localhost
  run_once: true

- name: Check if containerd binary already copyed
  stat:
    path: "{{ containerd_temp_file }}"
  register: containerd_copy_stat
  run_once: true
  when: not containerd_installed_stat.stat.exists

- name: Create containerd temporary directory on remote host
  file:
    path: "{{ containerd_temp_dir }}"
    state: directory
    mode: '0755'
  become: true
  when: not containerd_copy_stat.stat.exists

- name: Copy containerd binary to remote host
  copy:
    src: "{{ containerd_temp_file }}"
    dest: "{{ containerd_temp_file }}"
    mode: '0644'
  become: true
  when: not containerd_copy_stat.stat.exists

- name: Extract containerd binary on remote host
  unarchive:
    src: "{{ containerd_temp_file }}"
    dest: "{{ containerd_install_path }}"
    remote_src: yes
    extra_opts: [ "--strip-components=1" ]
  become: true
  when: not containerd_installed_stat.stat.exists

- name: Create containerd systemd service directory
  file:
    path: /etc/systemd/system/containerd.service.d
    state: directory
    mode: '0755'
  become: true
  when: not containerd_installed_stat.stat.exists

- name: Add containerd systemd service file
  copy:
    content: |
      # Copyright The containerd Authors.
      #
      # Licensed under the Apache License, Version 2.0 (the "License");
      # you may not use this file except in compliance with the License.
      # You may obtain a copy of the License at
      #
      #     http://www.apache.org/licenses/LICENSE-2.0
      #
      # Unless required by applicable law or agreed to in writing, software
      # distributed under the License is distributed on an "AS IS" BASIS,
      # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
      # See the License for the specific language governing permissions and
      # limitations under the License.

      [Unit]
      Description=containerd container runtime
      Documentation=https://containerd.io
      After=network.target local-fs.target

      [Service]
      ExecStartPre=-/sbin/modprobe overlay
      ExecStart={{ containerd_install_path }}/containerd

      Type=notify
      Delegate=yes
      KillMode=process
      Restart=always
      RestartSec=5
      # Having non-zero Limit*s causes performance problems due to accounting overhead
      # in the kernel, We recommend using cgroups to do container-local accounting.
      LimitNPROC=infinity
      LimitCORE=infinity
      LimitNOFILE=infinity
      # Comment TasksMax if your systemd version does not supports it.
      # Only systemd 226 and above support this version.
      TasksMax=infinity
      OOMScoreAdjust=-999

      [Install]
      WantedBy=multi-user.target
    dest: /etc/systemd/system/containerd.service
    mode: '0644'
  become: true
  when: not containerd_installed_stat.stat.exists

- name: Create containerd configuration directory
  file:
    path: /etc/containerd
    state: directory
    mode: '0755'
  become: true
  when: not containerd_installed_stat.stat.exists

- name: Generate containerd default configuration
  shell: /usr/local/bin/containerd config default > /etc/containerd/config.toml
  args:
    creates: /etc/containerd/config.toml
  become: true
  when: not containerd_installed_stat.stat.exists

- name: Configure containerd to use systemd cgroup driver
  lineinfile:
    path: /etc/containerd/config.toml
    regexp: '^\s*SystemdCgroup\s*='
    line: '            SystemdCgroup = true'
    backrefs: yes
  become: true
  when: not containerd_installed_stat.stat.exists

- name: Create docker.io mirror directory
  file:
    path: /etc/containerd/certs.d/docker.io
    state: directory
    mode: '0755'
  become: true
  when: not containerd_installed_stat.stat.exists

- name: Configure docker.io mirror sources
  copy:
    content: |
      server = "https://registry-1.docker.io"
      [host."https://docker.m.daocloud.io"]
        capabilities = ["pull", "resolve", "push"]
    dest: /etc/containerd/certs.d/docker.io/hosts.toml
    mode: '0644'
  become: true
  when: not containerd_installed_stat.stat.exists

- name: Create registry.k8s.io mirror directory
  file:
    path: /etc/containerd/certs.d/registry.k8s.io
    state: directory
    mode: '0755'
  become: true
  when: not containerd_installed_stat.stat.exists

- name: Configure registry.k8s.io mirror sources
  copy:
    content: |
      server = "https://registry.k8s.io"
      [host."https://k8s.m.daocloud.io"]
        capabilities = ["pull", "resolve", "push"]
    dest: /etc/containerd/certs.d/registry.k8s.io/hosts.toml
    mode: '0644'
  become: true
  when: not containerd_installed_stat.stat.exists

- name: Check if containerd service is running
  systemd:
    name: containerd
    state: started
  register: containerd_service_status
  ignore_errors: true
  become: true
  when: not containerd_installed_stat.stat.exists

- name: Stop containerd service if it's running
  systemd:
    name: containerd
    state: stopped
  when: not containerd_installed_stat.stat.exists and containerd_service_status is succeeded
  become: true

- name: Start and enable containerd service with new configurations
  systemd:
    name: containerd
    state: started
    enabled: yes
    daemon_reload: yes
  become: true
  when: not containerd_installed_stat.stat.exists

- name: Verify containerd is running
  shell: "{{ containerd_install_path }}/containerd --version"
  register: containerd_version
  become: true
  when: not containerd_installed_stat.stat.exists

- name: Display containerd version
  debug:
    msg: "Containerd version installed: {{ containerd_version.stdout }}"
  when: not containerd_installed_stat.stat.exists
