---
# Security and Firewall Checks
- name: "set SELinux to permissive mode"
  ansible.builtin.command: "setenforce 0"
  changed_when: false

- name: "set SELinux to permissive mode present"
  ansible.builtin.lineinfile:
    path: /etc/selinux/config
    regexp: '^SELINUX='
    line: 'SELINUX=permissive'

- name: "Check 10: Verify SELinux Status"
  ansible.builtin.command: "getenforce"
  register: selinux_status
  changed_when: false

- name: "Print SELinux Status"
  ansible.builtin.debug:
    msg: "SELinux Status: {{ selinux_status.stdout }}"

- name: "stop and disable Firewall"
  ansible.builtin.systemd:
    name: firewalld
    state: stopped
    enabled: no

- name: "Check 9: Check Firewall Status"
  ansible.builtin.command: "systemctl status firewalld"
  register: firewall_status
  changed_when: false
  ignore_errors: true

- name: "Print Firewall Status"
  ansible.builtin.debug:
    msg: "Firewall Status: {{ firewall_status.stdout }}"

- name: "Check 16: Verify iptables is Working"
  ansible.builtin.command: "iptables -L"
  register: iptables_status
  changed_when: false
  ignore_errors: true

- name: "Print iptables Status"
  ansible.builtin.debug:
    msg: "iptables Status: {% if iptables_status.rc == 0 %}Working{% else %}Not Working{% endif %}"
